# Ros ile controller manager'ın etkileşimi geçereken, yapılandırma parametrelerini ayarladığımız dosyadır !!
controller_manager:
  ros__parameters:
    update_rate: 100
    use_sim_time: true

    diff_drive_robot_controller:
      type: diff_drive_controller/DiffDriveController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
diff_drive_robot_controller:
  ros__parameters:
    type: diff_drive_controller/DiffDriveController

    use_stamped_vel: true
    left_wheel_names: ["rear_left_wheel_joint"]
    right_wheel_names: ["rear_right_wheel_joint"]

    publish_rate: 100.0
    pose_covariance_diagonal : [0.001, 0.001, 0.001, 0.001, 0.001, 0.001]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.001]

    wheel_separation: 0.50
    wheel_radius: 0.049

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0
    # Bu süre boyunca herhangi bir komut gelmesse motorları durdur!
    cmd_vel_timeout: 1.0
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    publish_limited_velocity: true
    publish_wheel_data: true
    enable_odom_tf: true

    linear:
      x:
        has_velocity_limits: true
        max_velocity: 2.0
        min_velocity: -1.5
        has_acceleration_limits: true
        max_acceleration: 1.5
        min_acceleration: -1.0
        has_jerk_limits: true
        max_jerk: 8.0
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 1.5
        min_velocity: -1.5
        has_acceleration_limits: true
        max_acceleration: 1.0
        min_acceleration: -1.0
        has_jerk_limits: true
        max_jerk: 8.0 
