<?xml version="1.0"?>

<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- IMU Plugin -->
    <!-- Şimdilik kullanımdan kaldırılmıştır!! -->
    <xacro:macro name="imu_gazebo_bno055" params="imu_name topic_ns" >
        <gazebo reference="${name}_link">
            <!-- Based on bno055 datasheet-->
            <!-- https://www.bosch-sensortec.com/media/boschsensortec/downloads/datasheets/bst-bno055-ds000.pdf -->
            <sensor name="${name}" type="imu">
                <always_on>true</always_on>
                <update_rate>100</update_rate>
                <gz_frame_id>${name}_link</gz_frame_id>
                <topic>${topic_ns}</topic>
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.001745329251</stddev>  <!-- Noise Density, radyan cinsinden! (sensörün tipik davranışı modellenmiştir) -->
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.01745329251</bias_stddev> <!-- Bias instability, radyan cinsinden! (sensörün tipik davranışı modellenmiştir) -->
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.001745329251</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.01745329251</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.001745329251</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.01745329251</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>    <!-- 100 ODR(Output Data Rate) için 32hz bandwith-->
                                <stddev>8.32e-3</stddev> <!-- Output Noise Density, m/s^2 cinsinde, sensorün tipik davranışı ele alınmıştır. -->
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>0.4903</bias_stddev>
                            </noise>
                        </x>
                        <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.8639e-5</stddev>
                            <bias_mean>0.0</bias_mean>
                            <bias_stddev>1.471e-3</bias_stddev>
                        </noise>
                        </y>
                        <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>1.8639e-5</stddev>
                            <bias_mean>0.0</bias_mean>
                            <bias_stddev>1.471e-3</bias_stddev>
                        </noise>
                        </z>
                    </linear_acceleration>
                </imu>
            </sensor> 
        </gazebo>
    </xacro:macro>

    <xacro:macro name="imu_gazebo_VN100" params="imu_name topic_ns">
        <gazebo reference="${imu_name}_link">
            <!-- Based ON VN100 DATASHEET -->
            <!-- https://www.vectornav.com/docs/default-source/product-brief/vn-100-product-brief.pdf?sfvrsn=a2a5ae5f_2 -->
            <sensor name="${imu_name}" type="imu">
                <always_on>true</always_on>
                <update_rate>200</update_rate>
                <gz_fram_id>${imu_name}_link</gz_fram_id>
                <topic>${topic_ns}</topic>
                <imu>
                    <angular_velocity>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>9.94e-4</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>4.848e-6</bias_stddev> <!-- radyan cinsinden -->
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>9.94e-4</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>4.848e-6</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>9.94e-4</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>4.848e-6</bias_stddev>
                            </noise>
                        </z>
                    </angular_velocity>
                    <linear_acceleration>
                        <x>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.02082152953</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>3.92e-4</bias_stddev> <!-- m/s^2 cinsinden. -->
                            </noise>
                        </x>
                        <y>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.02082152953</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>3.92e-4</bias_stddev>
                            </noise>
                        </y>
                        <z>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.02082152953</stddev>
                                <bias_mean>0.0</bias_mean>
                                <bias_stddev>3.92e-4</bias_stddev>
                            </noise>
                        </z>
                    </linear_acceleration>
                </imu>
            </sensor>
        </gazebo>
    </xacro:macro>


</robot>