<?xml version="1.0" ?>

<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--https://www.vectornav.com/docs/default-source/product-brief/vn-200-product-brief.pdf?sfvrsn=5bda007a_2 -->
    <xacro:macro name="navsat_gazebo" params="navsat_name topic_ns">
        <gazebo reference="${navsat_name}">
            <sensor name="${navsat_name}" type="navsat">
                <always_on>1</always_on>
                <pose>0 0 0.05 0 0 0</pose> 
                <update_rate>10</update_rate> <!-- Güncelleme frekansı (Hz) -->
                <topic>${topic_ns}/fix</topic>
                
                <navsat>
                    <position_sensing>
                        <horizontal>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.0</stddev> 
                            </noise>
                        </horizontal>
                        <vertical>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>1.5</stddev> 
                            </noise>
                        </vertical>
                    </position_sensing>

                    
                    <velocity_sensing>
                        <horizontal>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.05</stddev> 
                            </noise>
                        </horizontal>
                        <vertical>
                            <noise type="gaussian">
                                <mean>0.0</mean>
                                <stddev>0.05</stddev>
                            </noise>
                        </vertical>
                    </velocity_sensing>
                </navsat>
                
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>