<?xml version="1.0" ?>

<robot name="vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find vehicle_description)/urdf/includes/components/sensors/imu_gazebo.xacro" /> 

    <!-- VN100 CONSTANST https://www.vectornav.com/docs/default-source/product-brief/vn-100-product-brief.pdf?sfvrsn=a2a5ae5f_2 -->
    <xacro:property name="vn100_width" value="0.024" />
    <xacro:property name="vn100_depth" value="0.022" />
    <xacro:property name="vn100_height" value="0.003"/>
    <xacro:property name="vn100_mass" value="0.0035"/>

    <xacro:macro name="vn_100" params="name topic_ns:=imu parent *origin">

         <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_link"/>
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0"/>
                <geometry>
                    <box size="${vn100_width} ${vn100_depth} ${vn100_height}"/>
                </geometry>
                <material name="silver" />
            </visual>

            <collision>
                <origin xyz="0 0 0"/>
                <geometry>
                    <box size="${vn100_width} ${vn100_depth} ${vn100_height}"/>
                </geometry>
            </collision>
            
            <xacro:solid_cuboid_inertia mass="${vn100_mass}" x="${vn100_width}" y="${vn100_depth}" z="${bno_height}" />
        </link>

        <xacro:imu_gazebo_VN100 imu_name="${name}" topic_ns="${topic_ns}" />

    </xacro:macro>

</robot>